    <h1>Elmadeal</h1>
    <div class="info"><a href="elmadeal.com" target="_blank">
            <p>Fait avec <i class="fa fa-heart"></i></p>
        </a></div>

        <%= simple_form_for @partenaire, wrapper: :horizontal_form, html:{ class: 'form-horizontal'} do |f| %>
         <%= f.error_notification %>
        <h1 style="text-align: center;">Rejoignez-nous et Devenez Partenaire</h1>

        <div class="contentform">
            <div id="sendmessage"> Your message has been sent successfully. Thank you. </div>
            <div class="leftcontact">
                
                    <p>Prénom<span>*</span></p>
                    <%= f.input :prenom,
                              required: true,
                              autofocus: true,
                              label: false %>
             
                
                    <p>Nom <span>*</span></p>
                    <%= f.input :nom,
                              required: true,
                              autofocus: true,
                              label: false
                             %>
                
                
                    <p>Téléphone <span>*</span></p>
                    <%= f.input :telephone,
                              required: true,
                              autofocus: true,
                              label: false,
                              input_html: { :class => 'form-control bfh-phone', 
                              'data-format'=>'+221 dd-ddd-dd-dd'}%>
                
              
                    <p>E-mail <span></span></p>
                    <%= f.input :email,
                    autofocus: true,
                    label: false
                    %>
               
            </div>

            <div class="rightcontact">
                    <p>Nom de l'institut <span>*</span></p>
                    <%= f.input :nomInstitut,
                    required: true,
                    autofocus: true,
                    label: false %>
               
                    <p>Adresse de l'Institut <span>*</span></p> 
                    <%= f.input :adresseInstitut,
                    required: true,
                    autofocus: true,
                    label: false %>
                
                    <p>Message <span>*</span></p>
                    <%= f.input :message, as: :text,
                    required: true,
                    autofocus: true,
                    label: false %>
                
            </div>
        </div>
        <%= f.button :submit, "Envoyer",class: 'bouton-contact'%>
      <% end %>
