<div class="log-container">
  <div class="wrapper">
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form-signin"}) do |f| %>
    <h2 class="form-signin-heading">Veuillez vous connecter</h2>
    <div class="form-inputs">
      <%= f.input :phone_number, required: true, autofocus: true,
             label: 'Téléphone(*)',
            placeholder: "Entrer votre numéro de téléphone",
            :input_html => { :class => 'form-control bfh-phone', 
              'data-format'=>'+221 dd-ddd-dd-dd' }%>
      <%= f.input :password,
            required: false,
            label: 'Mot de passe(*)',
            placeholder: "Entrer votre mot de passe",
            input_html: { autocomplete: "current-password", class: 'form-control' } %>
      <label class="checkbox">  </label>
    </div>
      <%= f.input :remember_me, label: 'Se souvenir de moi',as: :boolean if devise_mapping.rememberable? %>
    <div class="form-actions">
        <%= f.button :submit,"Se Connecter",class: 'btn btn-treehouse'  %>
    </div>
    <%= render "users/shared/links" %>
      <% end %>
  </div>
</div>
