<div class="wrapper-carousel-show">
  <div id="carousel-show-salon<%=salon.id%>" class="carousel slide" data-ride="carousel" data-interval = '5000'>
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <% salon.photos.each_with_index do |photo,index| %>
        <li data-target="#carousel-show-salon<%=salon.id%>" data-slide-to="<%= index %>" class="<%= index == 0 ? "active" : "" %>"></li>
      <% end %>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <% salon.photos.each_with_index do |photo,index| %>
        <div class="item <%= index == 0 ? "active" : "" %> ">
          <div class="show-card-banner" id="small-show_card-banner" style="background-image: url(<%= image_path(photo.photo_url) %>)">
          </div>
        </div>
      <% end %>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#carousel-show-salon<%=salon.id%>" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-show-salon<%=salon.id%>" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <!-- Box underneath image -->
  <div class="card-info">
    <div class="card-title">
      <h5 id="show-link">
        <%= link_to salon.name, salon_path(salon) %>
      </h5>
    </div>
    <div class="card-content">
      <p>
        <%= salon.address %>
      </p>
    </div>
    <div class="card-footer">
      <ul>
    <%Service.where(salon_id: salon.id).group_by{|x| x.category}.values.each do |services|%>
	 <li class="btn-card">
	 	<%=  link_to services[0].category, salon_path(salon) %>
	 </li>
 <% end %>
      </ul>
      <p id="more-link"><%= link_to "Voir plus...", salon_path(salon) %></p>
      <!-- <p id="trending-icon"><i class="fas fa-fire"></i></p> -->
      <!-- <span class="card-media-object-tag subtle">Selling Fast</span> -->
    </div>
  </div>
</div>