<script type="text/javascript">
    mixpanel.track("Page BackOffice", {
      "Page Name": "Landing BackOffice"
    });
  </script>
<!-- Side menu:start -->
<%= render "backoffice/components/sidebar"  %>
<!-- Side menu:end -->

<div class="page-wrapper">
    <!-- Header:start -->
    <header class="header">
        <!-- Navigation:start -->
        <%= render "backoffice/components/navbar"  %>
        <!-- Navigation:end -->
    </header>
    <!-- Header:end -->

    <!-- Main:start -->
    <main class="main scroller">

        <!-- Dashboard View:Start -->
        <%= render "backoffice/components/dashboard_view"  %>
        <!-- Dashboard View:end -->

        <!-- Calendar View:Start -->
        <%= render "backoffice/components/calendar_view"  %>
        <!-- Calendar View:end -->

        <!-- clients View:Start -->
        <%= render "backoffice/components/clients_view"  %>
        <!-- Clients View:end -->

         <!-- clients View:Start -->
        <%= render "backoffice/components/employees_view"  %>
        <!-- Clients View:end -->

        <!-- Appointment Form:start -->
        <%= render "backoffice/components/forms/add_appointment_form"  %>
        <!-- Appointment Form:end -->

        <!-- Appointment Form:start -->
        <%= render "backoffice/components/forms/modify_appointment_form"  %>
        <!-- Appointment Form:end -->

        <!-- Appointment Double Check Delete:start -->
        <%= render "backoffice/components/forms/confirm_appointment_delete_modal"  %>
        <!-- Appointment Double Check Delete:end -->

        <!-- Employee Add Modal:start -->
        <%= render "backoffice/components/forms/add_employee_form"  %>
        <!-- Employee Add Modal:end -->

        <!-- Employee Double Check Delete:start -->
        <%= render "backoffice/components/forms/confirm_employee_delete_modal"  %>
        <!-- Employee Double Check Delete:end -->
    </main>
    <!-- Main:end -->
 
</div>
<!-- Page Container:end -->