<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="row">
        <% @salons.each do |salon| %>
        <div class="card-media col-xs-12 col-md-6">
          <div class="card-media-object-container">
            <div class="card-media-object" style="background-image: url(<%= image_path(salon.photos[0].photo_url) %>)">
              <%= link_to "", salon_path(salon) %>
            </div>
          </div>
          <div class="card-media-body">
            <div class="card-media-body-top">
              <span class="subtle">
                <h2>
                  <%= link_to salon.name, salon_path(salon) %>
                </h2>
              </span>
            </div>
            <span class="card-media-body-heading">
              <p id="salon-description">
                <%= salon.address %>
            </span>
            <div class="card-footer">
              <ul>
                <% service_names = [] %>
                <% salon.services.each do |service| %>
                <% service_names << service.name %>
                <% end %>
                <% service_names.uniq.sample(3).each do |service_name| %>
                <li class="btn-card">
                  <%= link_to service_name.capitalize.truncate(25)  , salon_path(salon) %>
                </li>
                <% end %>
                <li>
                    <%= link_to "Voir plus...", salon_path(salon), class: "card-media-body-supporting-bottom-text card-media-link"%>
                  </li>
              </ul>
            </div>
          </div>
          <div class="card-media-body-supporting-bottom card-media-body-supporting-bottom-reveal"
            style="padding-right: 10px;">
            <%= link_to "Prendre RDV", salon_path(salon), class: "card-media-body-supporting-bottom-text card-media-link u-float-right"%>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-6" style="position: sticky; top: -15px;">
      <div class="hidden-xs hidden-sm">
        <div class="wrapper-map" id="map-wrapper">
          <div id="map" style="height: 100vh; position: sticky !important; top: 0;"
            data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>