<%= render "shared/carousel", salon: @salon %>

<div class="main-wrapper-show">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-4">
        <div class="col-sm-12">
          <div class="show-page-header">
            <h1>
              <%= @salon.name %>
            </h1>
            <p class="salon-address">
              <%= @salon.address %>
            </p>
            <p class="salon-description">
              <%= @salon.description %>
            </p>
          </div>
        </div>
        <div class="col-sm-12">
          <br>
          <section id="services" class="accordion">
            <% @servicesByCategory.each do |services| %>
            <dl>
              <dt>
                <a href="#accordion1" aria-expanded="false" aria-controls="accordion1" class="accordion-title accordionTitle js-accordionTrigger">
                  <%= services[0].category  %></a>
              </dt>
              <dd class="accordion-content accordionItem is-collapsed" id="accordion1" aria-hidden="true">
                <% services.each do |service| %>
                <div class="service">
                  <div class="service-time">
                    <p style="padding-right: 0px;
                    padding-left: 0px;">
                      <span class="glyphicon glyphicon-time"></span>&nbsp;
                      <%= service.duration %>'
                    </p>
                  </div>
                  <div class="service-name">
                    <p style="padding-right: 0px;
                    padding-left: 0px;">
                      <strong>
                        <%= service.name.titleize %></strong>
                    </p>
                  </div>
                  <div class="service-price">
                    <p class="price" style="padding-right: 0px;
                    padding-left: 0px;">
                      <%= money_without_cents service.price_cents %> F
                    </p>
                    <button type="button" class="btn-book" style="width: 136px;"data-toggle="modal" data-target="#bookingModal"
                      data-service-id="<%= service.id %>">Prendre RDV</button>
                  </div>
                </div>
                <% end %>
              </dd>
            </dl>
            <% end %>
          </section>
        </div>
      </div>
      <%= render "shared/openningHours", openingHours: @openingHours %>
    </div>
  </div>
</div>

<%= render "shared/modal_flatpickr" %>