<%= form_for(@customer) do |f| %>
  <div class="form-group">
    <%= f.label :first_name, "Your first name" %>
    <%= f.text_field :first_name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :last_name, "Your last name" %>
    <%= f.text_field :last_name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :phone_number, "Your number" %>
    <%= f.text_field :phone_number, class: 'form-control' %>
  </div>

   <div class="form-group">
    <%= f.label :address, "Your address" %>
    <%= f.text_field :address, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :email, "Your email" %>
    <%= f.text_field :email, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :DOB, "Your DOB" %>
    <%= f.text_field :DOB, class: 'form-control' %>
  </div>

  <%= f.submit class: 'btn btn-primary' %>
<% end %>

<%= render 'form', customer: @customer %>
