<h1>Page customers</h1>

<%= @customers.each do |customer| %>
  <h2><%= customer.first_name %></h2>
  <h2><%= customer.last_name %></h2>
  <h2><%= customer.address %></h2>
  <h2><%= customer.phone_number %></h2>
  <h2><%= customer.first_name %></h2>
  <h2><%= customer.DOB %></h2>
  <%= link_to "Go See", customer_path(customer) %>
  <%= link_to "Delete", customer_path(customer),
      method: :delete,
      data: { confirm: "Are you sure?" } %>



  <%= link_to "Add a new customer", new_customer_path %>
<% end %>
