<h1>Les customers</h1>


<h2><%= customer.first_name %></h2>
<h2><%= customer.last_name %></h2>
<h2><%= customer.address %></h2>
<h2><%= customer.phone_number %></h2>
<h2><%= customer.first_name %></h2>
<h2><%= customer.DOB %></h2>

<% end %>
