<div class="background" id="backgroundpagemessageconfirmation">
  <div class="bg-top"></div>
  <div class="bg-left"></div>
  <div class="bg-right"></div>
  <div class="bg-bottom"></div>
  <div class="container" id="container-confirmation"></div>
  <div class="photo" style="margin-right: 150px;margin-top: 115px">
    <%= image_tag("white.jpg", width: 330, height: 300) %>
  </div>

  <div class="content" id="pagemessage">
    <p id="thank-you"><u>Votre réservation Elmadeal en détail</u></p>
    <div class="content-about" id="pagemessage-about">
      <h3 class="appointment-title">Nous vous remerçions pour votre réservation
        <p> Institut : <strong>
            <%= @appointment.service.salon.name %></strong></p>
        <p> Adresse : <strong>
            <%= @appointment.service.salon.address %></strong></p>
        <p> Soin : <strong>
            <%= @appointment.service.name.titleize %></strong></p>
      </h3>
      <p class="appointment-date">
        Date : <strong>
          <%= l(@appointment.start_appointment,format: :long)%>.</strong></p>
      Un SMS de confirmation vous sera envoyé pour vous donner plus détails.
      <p></p>
      <div id="register">
        <div id="ticket">
          <h4>A Payer à l'Institut</h4>
          <table>
            <tbody id="entries">
            </tbody>
            <tfoot>
              <tr>
                <th>Total</th>
                <th id="total">
                  <%= money_without_cents @appointment.service.price_cents %> F</th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
      <br>
      <h5>Si vous avez <strong> besoin d'aide</strong>, merci de contacter Elmadeal à <strong> info@elmadeal.com ou par
          telephone au 78 384 89 22.</strong></h5>
        <div class="row">
          <div class="col text-center">
            <button type="button" style="border-radius: 40px;" class="btn btn-default">
              <%= link_to "Retour à l'accueil", root_path%></button>
            <button type="button" style="border-radius: 40px;" class="btn btn-default">
              <%= link_to "Choisir un autre soin", salons_path%></button>
          </div>
      </div>
    </div>
  </div>
</div>