<div class="container">
  <div class="row">
    <div class="col-12 col-sm-10 col-md-8 col-lg-6 text-left">
      <p id="thank-you"><u>Votre réservation Elmadeal en détail</u></p>
      <div class="content-about" id="pagemessage-about">
        <h3 class="appointment-title">Nous vous remerçions pour votre réservation
          <p> Institut : <strong>
              <%= @appointment.service.salon.name %></strong></p>
          <p> Adresse : <strong>
              <%= @appointment.service.salon.address %></strong></p>
          <p> Soin : <strong>
              <%= @appointment.service.name.titleize %></strong></p>
        </h3>
        <p class="appointment-date">
          Date : <strong>
            <%= l(@appointment.start_appointment,format: :long)%>.</strong></p>
        Un SMS de confirmation vous sera envoyé pour vous donner plus détails.
        <hr>
        <div id="ticket">
          <h4>Votre réservation</h4>
          <table>
            <tbody id="entries">
            </tbody>
            <tfoot>
              <tr>
                <th>Total</th>
                <th id="total">
                  <%= money_without_cents @appointment.service.price_cents %> F</th>
              </tr>
            </tfoot>
          </table>
        </div>
        <h5>Si vous avez <strong> besoin d'aide</strong>, merci de contacter Elmadeal à <strong> info@elmadeal.com ou
            par telephone au 78 384 89 22.</strong></h5>
      </div>
      <div class="row">
        <div class="col text-center">
          <button type="button" style="width: 150px;font-size:17px;border-radius:30px;" class="btn btn-default">
            <%= link_to "Retour à l'accueil", root_path%></button>
          <button type="button" style="width: 150px;font-size:15px;border-radius:30px" class="btn btn-default">
            <%= link_to "Choisir un autre soin", salons_path%></button>
        </div>
      </div>
    </div>
  </div>
</div>